html{
    scroll-behavior: smooth;
}

body {
    background-image: url(images/img1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
  }

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: auto;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.navbar .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.navbar ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #31fa4c;
    display: block;
    transition: 0.2s linear;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.navbar ul li a:hover{
    color: #31fa4c;
}

.navbar .icon i{
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .icon i:hover{
    color: #31fa4c;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

.result h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 40px;
    line-height: 22px;
    text-align: center;
    display: inline;
    font-weight: bolder;
    color: crimson;
    line-height: 100px;
    padding-bottom: 50px;

  }

  .result h2  {
    font-size: 60px;
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 80px;
  }
  
  .result{
    width: 80%;
    height:200px;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 300px;
    margin-top: 15px;
  }

.container table, tr, th, td {
    background-color: rgb(255, 199, 131);
    position: relative;
    padding: 25px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: 1px solid antiquewhite;
    border-width: 3px;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 75px;
}